<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Mr. Gecko's Media</string>
	<key>CFBundleDisplayName</key>
	<string>GLogoChanger Dev</string>
	<key>CFBundleIdentifier</key>
	<string>com.MrGeckosMedia.GLogoChanger</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.1</string>
	<key>CFBundleVersion</key>
	<string>0.1.1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>glogo.js</string>
			</array>
		</dict>
		<key>Whitelist</key>
		<array>
			<string>http://www.google.com/*</string>
			<string>https://www.google.com/*</string>
			<string>https://encrypted.google.com/*</string>
			<string>http://www.google.be/*</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Randomly picks a Google logo and lets you choose a custom one</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>*.google.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://mrgeckosmedia.com/GLogoChanger.plist</string>
	<key>Website</key>
	<string>http://mrgeckosmedia.com/</string>
</dict>
</plist>
